<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="phd_project_net_framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <phd_project_net_framework.Properties.Settings>
            <setting name="physicalChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="Rate" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MinVal" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="MaxVal" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sensitivity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Samples" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="triggerSource" serializeAs="String">
                <value>APFI0</value>
            </setting>
            <setting name="triggerLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hysteresis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="excitationValue" serializeAs="String">
                <value>0.004</value>
            </setting>
        </phd_project_net_framework.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.NiLmClientDLL" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.5.40.49152" newVersion="17.5.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.40.49152" newVersion="19.1.40.49152" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>