<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="FftSharp" version="1.1.6" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.21.2" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.16" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.16" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.7" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.29" targetFramework="net472" />
  <package id="MySqlConnector" version="2.1.10" targetFramework="net472" />
  <package id="ScottPlot" version="4.1.50" targetFramework="net472" />
  <package id="ScottPlot.WinForms" version="4.1.50" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>